.page {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Winston Regular', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

.page::-webkit-scrollbar {
    width: 0 !important;
}

body {
    overflow-x: hidden;
    box-shadow: none;
    border: none;

}


.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: black;
    align-items: center;
    border-bottom: 1px solid #FFFFFF1A;
    width: 100%;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/noise.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 15%;
    pointer-events: none;

}

.head-laptop {
    display: none;
}

.header-logo {
    z-index: 1;
    width: 15.82px;
    height: 15.82px;
}

.header-title {
    font-family: 'Winston Regular', sans-serif;
    font-size: 22.15px;
    font-weight: 600;
    line-height: 24.36px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin: 0;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-wrapper__icon {
    gap: 12px;
    width: 44%;
    justify-content: flex-end;
}

.header-wrapper__logo {
    gap: 6.33px;
    margin-left: 7%;
}

.header-icon__wrapper_button {
    border: none;
    background-color: #ffffff00;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;

}

.number {
    background-image: url(./images/Frame\ 2.svg);
    z-index: 4;

}

.basket {
    background-image: url(./images/Frame\ 216.svg);
    z-index: 4;

}

.header-button__menu {
    background-image: url(./images/Vector.svg);
    border: none;
    background-color: #9817FF;
    width: 52px;
    height: 52px;
    background-position: center;
    /* background-size: 32px 32px; */
    background-repeat: no-repeat;
    padding: 0;
    margin-left: 24px;
    cursor: pointer;
    z-index: 4;

}

.content {
    background-color: #F5F5F5;
}

.noise-background {
    background-color: black;
}

.header-laptop {
    display: none;
}

@media screen and (min-width:768px) {
    .header-wrapper__logo {
        margin-left: 7%;
    }
}

@media screen and (min-width:1024px) {
    .header-wrapper__logo {
        margin-left: 3%;
    }
}

@media screen and (min-width:1240px) {
    .header {
        display: none;
    }

    .header-laptop {
        display: flex;
        justify-content: flex-start;
        position: relative;
        background-color: black;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 40px;
        flex-direction: column;
    }

    .header-laptop::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(./images/noise.png);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 13%;
        pointer-events: none;
    }

    .header-wrapper__logo {
        margin-left: 0%;
    }

    .header-laptop__wrapper {
        display: flex;
        width: 95%;
        height: 66px;
        margin-left: auto;
        margin-right: auto;
        z-index: 8;
        position: relative;
        align-items: center;
        gap: 51px;
        ;
    }

    .header-laptop__line {
        width: 95%;
        position: absolute;
        top: 65px;
        z-index: 6;
    }

    .header-nav {
        display: flex;
        gap: 36px;
        width: 80%;
    }

    .header-nav__item {
        background-color: #0e0e0e00;
        border: none;
        font-family: 'Winston Light', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        padding: 0;
        align-items: center;
        display: flex;
        gap: 8px;
        text-decoration: none;
    }


    .header-nav__item:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.6);
    }

    .header-laptop__img {
        transform: rotate(90deg);
    }

    .header-nav__item:hover .header-laptop__img {
        opacity: .6;
    }

    .header-wrapper__social {
        gap: 8px;
    }

    .header-wrapper__social_icon {
        width: 24px;
        height: 24px;
        background-color: #000000;
        backdrop-filter: blur(4px);
        border: none;
        margin-right: 5px;
    }

    .social-img {
        z-index: 5;
        position: relative;
        width: 24px;
        height: 24px;
        backdrop-filter: blur(4px);
    }

    .social-img:hover {
        cursor: pointer;
    }

    .more {
        width: 15px;
        height: 17px;
        transform: rotate(0);
    }

    .item-more {
        gap: 4px;
    }
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 67px;

    height: auto;
    background-color: black;
    position: relative;
    border: none;

}

.services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/76066cb8b895aec78fde17b1669e2b3e.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 15%;
    pointer-events: none;
}

.services-container {
    display: flex;
    flex-direction: row;
}

.services-container__text {
    width: 222px;
    margin-left: 5%;
    margin-right: auto;
    height: 64px;
    gap: 8px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column-reverse;
}

.services-text {
    height: 14px;
    padding: 6px 12px 8px 12px;

    opacity: 60%;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    color: rgba(255, 255, 255, .6);
    background-color: #1A1A1A;
    border-radius: 100px;
    text-align: center;
    z-index: 2;
    margin: 0;
    opacity: 1;
}

.services-title {
    font-family: 'Winston SemiBold', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    color: #FFFFFF;

    margin: 16px 0 0 0;
    text-align: start;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.services-container__buttons {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 55px;
    gap: 5%;
    margin-top: 36px;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.services-button__text {
    background-color: #9817FF;

    width: 75%;
    height: 55px;
    /* padding: 18px 82.5px 18px 83.5px; */
    border-radius: 100px;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;

    font-family: 'Winston SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin: 0;
    align-items: center;
    z-index: 4;
}

.services-button__play {
    width: 55px;
    height: 55px;
    padding: 4px;
    gap: 12px;
    border-radius: 100px;
    opacity: 0px;

    background-color: #FFFFFF;
    border: none;
    align-items: center;
    cursor: pointer;
    z-index: 4;
}

.button-img {
    width: 25px;
    height: 25px;
}

.services-subtitle {
    font-family: 'Winston Light', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;
    color: #FFFFFF99;
    margin: 56px 0 0 0;
    text-align: start;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width:768px) {
    .services {
        padding-top: 40px;
        height: 1106px;
    }

    .services-container__text {
        flex-direction: row;
        width: 46%;
        height: auto;
        margin-left: 17%;
    }

    .services-title {
        margin-top: 30px;
        width: 450px;
        margin-left: 17%;
    }

    .services-subtitle {
        margin-top: 25px;
        width: 455px;
        margin-left: 17%;
    }

    .services-container__buttons {
        width: 65%;
    }
}

@media screen and (min-width:1024px) {
    .services {
        height: 530px;
    }
}

.about {
    padding-top: 34px;
    height: 717px;
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
    /* margin-right: auto; */
    background-color: black;
    position: relative;
    border: none;
}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/76066cb8b895aec78fde17b1669e2b3e.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 15%;
    pointer-events: none;

}



.about-container__numbers {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.about-container__line {
    z-index: 5;
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.number-line {
    margin: 0;
    position: relative;
    border: none;
}



.grin {
    background: rgba(194, 242, 0, 1);
    width: 12px;
    height: 1px;
    position: relative;
    z-index: 5;
}

.white {
    background: rgba(255, 255, 255, 1);
    width: 44px;
    height: 1px;
    opacity: 40%;
    position: relative;
    z-index: 3;
    display: flex;
}

.gradient {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.246) 0%, rgba(255, 255, 255, 0) 100%);
    width: 335px;
    opacity: 1;
    position: relative;
    z-index: 3;
    height: 1px;
    background-blend-mode: multiply;
}

.about-number {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    transition: font-size 0.2s, color 0.2s, opacity 0.2s;
}

.about-one {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}

.about-link {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    display: inline-block;
}

.about-number:hover {
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
}

.about-container__photo {
    display: flex;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}

.about-wrapper__cards {
    position: relative;
    z-index: 5;
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-photo {
    z-index: 5;
    width: 330px;
}

.about-photo__icon {
    position: absolute;
    z-index: 4;
}

.violet-icon {
    margin-top: 105px;
    left: 28px;
    transform: rotate(-84.76deg);
    width: 146px;
    height: 146px;
    display: block;
}

.green-icon {
    width: 146px;
    height: 146px;
    transform: rotate(88.24deg);
    left: 185px;
    margin-top: 50px;
}

.about-container__cards {
    display: flex;
    flex-direction: column;
    background: rgba(194, 242, 0, 1);

    width: 100%;
    height: auto;
    border-radius: 24px;
    padding: 24px;


    /* position: relative; */
    margin-top: -123px;
    z-index: 6;
    gap: 32px;
    width: 80%;

}

.about-container__cards-title {
    font-family: 'Winston Medium';
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: left;
    text-decoration-skip-ink: none;

    color: rgba(17, 17, 17, 1);
    margin: 0;
    width: 287px;
    height: 78px;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
}

.card-wrapper__img {
    width: 40px;
    height: 40px;
}

.card-wrapper__text {
    margin: 0;
    color: rgba(17, 17, 17, 1);
    font-family: 'Winston Medium';
    font-size: 52px;
    font-weight: 600;
    line-height: 57.2px;
    text-align: right;
}

.cards-two {
    margin-top: 16px;
}

.services-laptop {
    display: none;
}

@media screen and (min-width:768px) {
    .about {
        height: 793px;
    }

    .about-container__numbers {
        width: 65%;
        margin-top: 35px;
    }

    .about-container__line {
        width: 65%;
    }

    .about-container__photo {
        width: 65%;
    }

    .about-photo {
        width: 425px;
        margin-left: 50px;
    }

    .violet-icon {
        margin-top: 130px;
        left: 195px;
        width: 165px;
        height: 165px;
    }

    .green-icon {
        width: 165px;
        height: 165px;
        left: 383px;
        margin-top: 56px;
    }

    .number-line {
        height: 2px;
    }

    .about-container__cards {
        gap: 15px;
        width: 60%;
    }

    .about-container__cards-title {
        width: 375px;
    }
}

@media screen and (min-width:1024px) {
    .services {
        display: none;
    }

    .services-laptop {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 0;
    }

    .services-laptop__wrapper {
        margin-top: 59px;
        height: auto;
        padding-left: 30px;
    }

    .services-container__text {
        flex-direction: row;
        width: 100%;
        height: auto;
        margin-left: 17%;
        margin: 0;
    }

    .about-container__laptop {
        height: auto;
        width: 50%;
    }

    .about-wrapper__cards {
        position: absolute;
        flex-direction: row;
        z-index: 6;
        left: 8%;
        right: 0px;
        background-color: #0e0e0e00;
        width: 84%;
        display: flex;
        justify-content: center;
        gap: 39px;
    }

    .cards-two {
        margin-top: 0;
    }

    .about-container__cards {
        gap: 15px;
        width: 405px;
    }

    .services-text {
        height: auto;
        padding: 11px 15px 11px 15px;
        font-size: 12px;
    }

    .services-title {
        margin-top: 12px;
        margin-left: 0;
        width: 100%;
    }

    .services-subtitle {
        margin-top: 50px;
        width: 78%;
        margin-left: 0;
    }

    .about-container__cards-title {
        width: 375px;
        height: auto;
    }

    .services-container__buttons {
        margin-top: 48px;
        margin-left: 0;
        width: 100%;
    }

    .services-button__text {
        background-color: #9817FF;
        width: 59%;
        height: 55px;
        font-size: 18px;
    }

    .laptop-wrapper__button {
        width: 65%;

    }

    .services-button__play {
        width: 55px;
        height: 55px;
        padding: 4px;
        gap: 12px;
        border-radius: 100px;
        opacity: 0px;
        background-color: #FFFFFF;
        border: none;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 4;
    }

    .services-laptop__text {
        position: relative;
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
        text-align: start;
        color: rgba(255, 255, 255, 0.6);
        background: rgba(26, 26, 26, 1);
        width: 135px;
        height: 55px;
        padding: 6px 23px 6px 74px;
        gap: 12px;
        border-radius: 100px;
        top: -60px;
        left: -10px;
        z-index: 1;
        display: flex;
        align-items: center;
    }

    .about-container__line {
        display: none;
    }

    .about-container__numbers {
        display: none;
    }

    .about-photo {
        width: 512px;
        margin: 0;
        height: 560px;
        position: relative;
        /* left: -113px; */
        /* top: 1px; */
        bottom: 79px;
        right: 6px;
    }

    .about-container__photo {
        width: 100%;
        margin: 0;
        position: relative;
    }

    .green-icon {
        width: 175px;
        height: 170px;
        left: 252px;
        margin-top: 20px;
        transform: rotate(94deg);
    }

    .violet-icon {
        left: 0;
        margin-top: 196px;
        width: 175px;
        height: 170px;
        transform: rotate(-93.76deg);
        position: absolute;
    }
}

.production {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 5;
    background-color: rgba(245, 245, 245, 1);
    padding-top: 72px;
}

.production-title {
    font-family: 'Winston Medium';
    font-size: 30px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.production-cards:nth-of-type(1) {
    margin-top: 28px;
    background: rgba(194, 242, 0, 1);
    height: 396px;
}

.production-cards:nth-of-type(2) {
    margin-top: 28px;
    background: rgba(255, 255, 255, 1);
    height: 396px;
}

.production-cards:nth-of-type(3) {
    margin-top: 28px;
    background: rgba(152, 23, 255, 1);
    height: 394px;
}

.production-cards:nth-of-type(4) {
    margin-top: 28px;
    background: #0e0e0e;
    height: 586px;
}

.production-cards:nth-of-type(4)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/noise.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 10%;
    z-index: 2;
}

.production-cards {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    /* height: auto; */
    margin-top: 18px;
    overflow: hidden;
}

/* .production-cards :hover {
    cursor: pointer;
} */


.production-cards-text {
    color: #333;
    font-size: 18px;
    margin: 24px 24px 0 24px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    z-index: 5;
}

.production-cards__img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}



.vector-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

.production-card__title {
    margin: 0;
    font-family: 'Winston Medium';
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: left;
}

.production-subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;
    margin: 0;
}

.production-button {
    font-family: 'Winston Medium';
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    color: rgba(17, 17, 17, 1);
    text-decoration: none;
    margin-top: 16px;
    align-items: center;
    display: flex;
    transition: filter 0.3s ease;
    /* Плавный переход */
}


.production-cards:hover .production-button {
    color: rgba(17, 17, 17, .6);
}

.link-img {
    margin-left: 4px;
    width: 12px;
    height: 12px;
}

.production-cards:hover .link-img {
    opacity: .6;
    margin-left: 5px;
    transition: .2s linear;
    /* Плавный переход */
}

.link-white {
    width: 16px;
    height: 16px;
}

.white-link {
    color: rgba(255, 255, 255, 1);

}

.production-cards:hover .white-link {
    color: rgba(255, 255, 255, .6);
}



.production-cards__img {
    width: 100%;
    height: 210px;
    transition: .2s ease;
    /* Плавный переход */

}

.production-cards:hover .production-cards__img {
    transform: scale(1.1);
}

.img-book {
    position: absolute;
    margin-top: 145px;
    margin-right: 25px;
    z-index: 3;
    height: 293px;
    width: 310px;
    pointer-events: none;
}

.img-bottle {
    position: absolute;
    margin-top: 147px;
    margin-left: 41px;
    height: 249px;
    width: 260px;
    z-index: 6;

    pointer-events: none;

}

.img-cap {
    margin-top: 0;
    margin-left: 92px;
    width: 252px;
    height: 351px;
    z-index: 6;
}

.white-title {
    color: rgba(255, 255, 255, 1);
}



.white-subtitle {
    color: rgba(255, 255, 255, 1);
    opacity: 80%;
}

.img-woman {
    margin-left: 34px;
    margin-top: 112px;
    width: 500px;
    height: 613px;
    position: absolute;
    z-index: 4
}

.production-tablet {
    display: none;
}

@media screen and (min-width:768px) {
    .production {
        display: none;
    }

    .production-tablet {
        width: 90%;
        padding-top: 65px;
        display: flex;
    }

    .production-title {
        width: 100%;
        display: flex;
    }

    .production-wrapper__tablet {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        display: grid;
    }

}

@media screen and (min-width: 1024px) {


    .production-tablet {
        width: 90%;
        padding-top: 145px;
    }

    .production-wrapper__tablet {
        grid-template-columns: 50% auto;
        grid-template-rows: 1fr auto;
        align-items: end;
        column-gap: 30px;
        row-gap: 30px;
        display: grid;
        margin-top: 35px;
    }

    .production-cards {
        border-radius: 35px;
        width: 100%;
        margin: 0;
    }

    .production-cards:nth-of-type(1) {
        margin-top: 28px;
        background: rgba(194, 242, 0, 1);
        grid-row: 1 / span 2;
        /* Перемещаем карточку с футболкой наверх */
        grid-column: 1 / span 1;
        height: 100% !important;
    }

    .production-cards:nth-of-type(2) {
        grid-row: 3 / span 2;
        grid-column: 1 / span 1;
        /* height: 100% !important; */
        margin-top: 0;
    }

    .production-cards:nth-of-type(3) {
        margin-top: 28px;
        background: rgba(152, 23, 255, 1);
        height: 100%;
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

    .production-cards:nth-of-type(4) {
        grid-row: 2 / span 3;
        grid-column: 2 / span 1;
        margin-top: 0;
    }

    .production-card__title {
        font-size: 24px;
    }

    .production-subtitle {
        font-size: 16px;
    }

    .production-button {
        font-size: 17px;
    }

    .vector-overlay {
        width: 100%;
    }

    .t-shirts__img {
        height: 270px;
    }

    .img-bottle {
        margin-top: 158px;
        margin-left: 41px;
        height: 240px;
        width: 273px;
    }

    .img-book {
        margin-top: 135px;
        height: 303px;
        width: 327px;
    }

    .img-cap {
        margin-left: 184px;
        width: 270px;
        height: 238px;
    }

    .vector-overlay__one {
        width: 100%;
        height: 738px;
    }

}

.clothes {
    background-color: rgba(245, 245, 245, 1);
    display: flex;
    flex-direction: column;
    z-index: 6;
    position: relative;
    padding-top: 72px;
}

.clothes-button {
    width: 89%;
    height: 55px;
    top: 3403px;
    left: 20px;
    padding: 18px 36px 18px 36px;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.4);
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    cursor: pointer;
    margin-bottom: 16px;
    font-family: 'Winston Medium', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    text-decoration-skip-ink: none;
    justify-content: center;
    display: flex;
}

.clothes-container__cards {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 236px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    overflow: hidden;
    margin-top: 16px;
    padding: 24px 0 24px 24px;
    position: relative;
    justify-content: space-between;
}

.clothes-container__cards:hover {
    background: rgba(194, 242, 0, 1);
    background-image: url(./images/clothesBack.svg);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.clothes-container__cards:hover .production-button {
    color: rgba(17, 17, 17, 0.6);
    text-align: center;
    margin: 0 !important;
}

.clothes-container__cards:hover .link-img {
    opacity: .6;
}

.clothes-cards__img {
    position: absolute;
    margin-left: 108px;
    transition: transform 0.3s ease;
    /* Анимация увеличения */
}

.clothes-container__cards:hover .clothes-cards__img {
    transform: scale(1.2);
    /* -webkit-filter: grayscale(100) brightness(200); */
    filter: sepia(1) hue-rotate(-144deg) brightness(2) saturate(4);

}

.clothes-tablet {
    display: none;
}

@media screen and (min-width:768px) {
    .clothes {
        display: none;
    }

    .clothes-title {
        font-size: 30px;
        font-weight: 600;
        line-height: 33px;
        text-align: left;
        margin: 0;
    }

    .clothes-tablet {
        width: 90%;
        margin: auto;
        display: flex;
        gap: 25px;
    }

    .clothes-wrapper__tablet {
        display: flex;
        align-items: center;
        height: auto;
        width: 100%;
        justify-content: space-between;
    }

    .clothes-button {
        width: 35%;
        margin: 0;
    }

    .clothes-container__tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
        row-gap: 10px;
    }

    .clothes-container__cards {
        width: 88%;
        margin: 0;
    }

    .item-3 {
        grid-column: span 2;
        width: 95%;
    }

    .clothes-cards__img {
        /* margin-left: 84px; */
        right: 0;
    }

    .item-3___img {
        /* margin-left: 430px; */
    }

}

@media screen and (min-width:1024px) {
    .clothes-container__tablet {
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-rows: 1fr 235px;
        row-gap: 10px;
    }

    .item-2 {
        grid-row: 2 / span 2;
        grid-column: 1 / span 1;
        height: 235px;
    }

    .item-3 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
        height: 100%;
    }

    .item-3___img {
        margin-left: 122px !important;
        bottom: 0;
    }

    .clothes-cards__img {
        /* margin-left: 260px; */
        right: 0;
    }
}

.portfolio {
    margin-top: 72px;
    width: 100%;
}

.portfolio-button {
    display: flex;
    justify-content: center;
    font-family: 'Winston Medium', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    text-decoration-skip-ink: none;
}



.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 460px;
    align-items: center;
    justify-content: start;
    /* margin-top: 35px; */
}

.carousel-container {
    display: flex;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.swiper {
    height: 480px;
    width: 100%;
    position: relative;
    z-index: 1;
    /* display: grid !important;
    gap: 12px; */
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 24px;
    opacity: 1;
    width: 335px;
    height: 388px;
    align-items: flex-start;
    margin-top: 5px;
    margin-right: 12px;
}

.swiper-slide-visible .swiper-slide-fully-visible {
    width: 338px;
}

.swiper-wrapper {
    width: 100%;
    display: flex;
}

.swiper-slide {
    width: 335px !important;
    height: 450px !important;
}

.swiper-slide.swiper-slide-active {
    transform: scale(1.4);
    z-index: 10;
    height: 388px !important;
}


/* .swiper-backface-hidden .swiper-slide {
        transform: none !important;
} */




.carousel-item:hover {
    transform: scale(1.05);
    border: 4px solid rgba(194, 242, 0, 1);
    border-radius: 27px;
}

.carousel-item:hover .carousel-img {
    filter: brightness(0.5);
}

.carousel-item.active .carousel-title,
.carousel-item.active .carousel-button {
    filter: none;
    z-index: 10;
}


.carousel-title {
    position: absolute;
    top: 28px;
    left: 28px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    color: rgba(255, 255, 255, 1);
    width: 60px;
    height: 15px;
    padding: 6px 12px 8px 12px;
    gap: 10px;
    border-radius: 100px;
    backdrop-filter: blur(20px);
    text-align: center;
    margin: 0;
    transition: background-color 0.3s ease;
}




.carousel-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
    color: white;
    opacity: 1;
    transition: background-color 0.3s ease;
    width: 287px
}

.button-one {
    left: 0px;
    right: 0px;
    bottom: 40px;
    height: auto;
}

.carousel-button {
    background-color: rgba(152, 23, 255, 1);
    color: white;
    border-radius: 8px;
    text-decoration: none;
    width: 287px;
    height: 47px;
    padding: 14px 36px 14px 36px;
    border: none;
    font-family: 'Winston Medium';
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: center;
    text-decoration-skip-ink: none;


    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}



.carousel-img {
    width: 335px;
    height: 450px;
    border-radius: 24px;
    object-fit: cover;
    transition: filter 0.3s ease;
}


.carousel-item:hover .carousel-button {
    opacity: 1;
}

.carousel-item:hover .carousel-title {
    background-color: rgba(194, 242, 0, 1);
    color: #111111;
    z-index: 5;
}

.portfolio-wrapper__tablet {
    display: flex;
    width: 89%;
    margin: auto;
    flex-direction: column;
    gap: 16px;
}

.portfolio-title__tablet {
    font-size: 30px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    color: rgba(17, 17, 17, 1);
    margin: 0;
}

.portfolio-button__tablet {
    width: 100%;
    height: 55px;
    top: 3403px;
    left: 20px;
    padding: 18px 36px 18px 36px;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.4);
    margin: 0;
    cursor: pointer;
    font-family: 'Winston Medium', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    text-decoration-skip-ink: none;
    justify-content: center;
    display: flex;
}

@media screen and (min-width:768px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .portfolio-wrapper__tablet {
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .portfolio-title {
        display: none;
    }

    .portfolio-title__tablet {
        display: block;
        width: auto;
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        line-height: 33px;
        text-align: left;
        color: rgba(17, 17, 17, 1);
    }

    .portfolio-button {
        display: none;
    }

    .portfolio-button__tablet {
        width: 35%;
        height: 55px;
        top: 3403px;
        left: 20px;
        padding: 18px 36px 18px 36px;
        gap: 4px;
        border-radius: 100px;
        border: 1px solid rgba(17, 17, 17, 0.4);
        margin: 0;
        cursor: pointer;
        font-family: 'Winston Medium', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;
        text-decoration-skip-ink: none;
        justify-content: center;
        display: flex;
    }
}

.form {
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    padding: 8px;
    margin-top: 60px;
}

.form-tablet {
    width: 85%;
    margin: auto;
}

.form-image {
    width: 100%;
    border-radius: 24px;

}

.form-container__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    gap: 12px;
}

.form-title {
    font-family: 'Winston Medium';
    font-size: 26px;
    font-weight: 600;
    line-height: 28.6px;
    text-align: left;
    color: rgba(17, 17, 17, 1);
    margin: 0;
}

.form-text {
    color: rgba(17, 17, 17, 1);
    opacity: 80%;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;
    margin: 0;
}

.form-container__inputs {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.label-input {
    width: 100%;
}

.form-input {
    background: rgba(245, 245, 245, 1);
    border: none;
    border-radius: 8px;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;


}

.form-input:hover {
    border: 1px solid rgba(17, 17, 17, 0.6);

}

.form-input:focus {
    border: 1px solid rgba(17, 17, 17, 0.6);
    background: rgba(245, 245, 245, 1);

}

.form-input::placeholder {
    color: rgba(17, 17, 17, 1);
    opacity: 40%;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
}

.error-message {
    color: rgba(213, 0, 0, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    text-align: left;

}

.form-input.error {
    border: 2px solid red;
}

.form-container__button {
    margin-top: 20px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.form-button {
    width: 100%;
    height: 55px;
    padding: 18px 36px 18px 36px;
    gap: 4px;
    border-radius: 100px;
    opacity: 0px;
    background-color: rgba(17, 17, 17, 1);
    color: rgba(255, 255, 255, 1);
    /* font-family: 'Winston Medium'; */
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.form-subtitle {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    text-align: center;
    text-decoration-skip-ink: none;
    color: rgba(17, 17, 17, 0.4);
    margin: 0;
}

.form-span {
    color: rgba(17, 17, 17, 0.6);
}

@media screen and (min-width:768px) {
    .form-container {
        width: 100%;
    }

    .name-label {
        width: 50%;
    }

    .tel-label {
        width: 50%;
    }

    .form-container__inputs {
        flex-direction: row;
    }
}

@media screen and (min-width:1024px) {
    .form {
        flex-direction: row;
        width: 90%;
        gap: 30px;
    }

    .form-image {
        width: 45%;
        height: 343px;
        object-fit: cover;
        border-radius: 24px;
    }

    .form-tablet {
        width: 100%;
    }

    .form-container {
        width: 91%;
    }
}

.questions {
    width: 89%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
}

.questions-container {
    display: flex;
    flex-direction: column;
}

.questions-container__title {
    gap: 16px;

}

.questions-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    color: rgba(17, 17, 17, 1);
    margin: 0;
}

.questions-button {
    width: 335px;
    height: 55px;
    padding: 18px 36px 18px 36px;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.4);
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: center;
    color: rgba(17, 17, 17, 1);
    cursor: pointer;

}

.questions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.questions-container__questions {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 32px 0 0 0;
    width: 100%;
}

.questions-container__item {
    display: flex;
    width: 89%;
    padding: 19px 16px 19px 24px;
    gap: 8px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    flex-wrap: nowrap;
}

.questions-item__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    color: rgba(17, 17, 17, 1);
    margin: 0;
    width: 75%;
    height: auto;
}

.questions-item__button {
    background-image: url(./images/Vector\ \(Stroke\).svg);
    background-position: center;
    background-repeat: no-repeat;
    rotate: 90deg;
    width: 36px;
    height: 36px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.4);
    background-color: #0e0e0e00;
    cursor: pointer;
}

.questions-container__button {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: auto;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    padding: 24px 24px 48px 24px;
    margin-bottom: 124px;
}

.questions-item__title {
    font-family: "Winston Medium", sans-serif;
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: left;
    color: rgba(17, 17, 17, 1);
}

.questions-item__paragraph {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    text-align: left;
    color: rgba(17, 17, 17, .8);
}

.questions-button__dark {
    width: 100%;
    margin-top: 12px;
    background-color: rgba(17, 17, 17, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    position: relative;
    z-index: 5;
}

.questions-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}



.questions-item__content {
    display: none;
    /* Скрываем текст по умолчанию */
    margin-top: 10px;
    font-size: 14px;
    color: rgba(17, 17, 17, 0.8);
    line-height: 1.6;
}

.questions-container__item.open .questions-item__content {
    display: block;
    /* Показываем текст, если класс `open` добавлен */
}

.open {
    display: flex;
    flex-direction: column;
}


.wrapper-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.open-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    color: rgba(17, 17, 17, 0.6);
    margin: 0;
    width: 100%;

}

@media screen and (min-width:768px) {
    .questions-container__title {
        flex-direction: row;
    }

    .questions-title {

        width: 65%;
    }

    .questions-button {
        width: 50%;
    }

    .questions-container__item {
        width: 94%;
    }

    .questions-container__button {
        margin-bottom: 50px;
        width: auto;
    }

    .questions-button__dark {
        width: 100%;
    }
}

@media screen and (min-width:1024px) {
    .questions-wrapper {
        flex-direction: row;
        margin-top: 44px;
        margin-bottom: 55px;
    }

    .questions-container__questions {
        margin: 0;
    }

    .questions-container__button {
        gap: 15px;
        padding: 31px 30px 20px 30px;
        margin-bottom: 0;
    }

    .questions-button__dark {
        margin-top: 20px;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    /* align-items: center; */
    left: 192px;
    top: 46px;
    z-index: 1000;
    transition: opacity 0.3s ease;
}




.popup-content {
    padding: 12px;
    border-radius: 8px;
    height: auto;
    border: 1px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px rgba(26, 26, 26, 0.1) solid;
    box-shadow: 0px 4px 12px 0px rgba(31, 31, 31, 0.04);
    position: absolute;
}

.popup-content {
    width: 154px;
    height: auto;
    top: 0;
    left: 25px;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.popup-content__clothes {
    top: 0;
    left: 230px;
}

.popup-close {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff5e57;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-close:hover {
    background-color: #ff3e37;
}

.popup-link {
    font-family: 'Winston Medium', sans-serif;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: rgba(17, 17, 17, 1);
    text-decoration: none;
}